<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
    <div class="container">
        <div class="bulb greeting">
            <h2>Hi! My name is Eugene!</h2>
            <p>I am front-end javascript developer from Kiev, Ukraine.</p>
            <p>
                Experienced in many technologies:
                <ul>
                    <li>
                        MVW-frameworks: Backbone.js, React.js + Flux, angular.js
                    </li>
                    <li>
                        libs: jQuery, canvas, maps,
                    </li>
                    <li>
                        Build systems: Grunt, Gulp
                    </li>
                    <li>
                        Testing frameworks: Mocha, Jasmine
                    </li>
                    <li>
                        Backend: Node.js, Express.js, MongoDB, Redis DB
                    </li>
                    <li>
                        CSS preprocessors: SASS, LESS
                    </li>
                </ul>
                And some other by request...
            </p>
        </div>
        <div class="bulb outerlinks">
            <h2>Some ways to contact me:</h2>
                <a href="mailto:rincewind3@gmail.com">rincewind3@gmail.com</a><br/>
                <a href="http://ua.linkedin.com/pub/eugeny-karetin/5/a44/643">LinkedIn</a><br/>
                <a href="https://github.com/kotia">My GitHub</a>
                Skype: rice-the-winds
        </div>
        <div class="bulb innerlinks">
            <h2>Some of my experiments:</h2>
            <a href="/lister">lister</a>: list of lists editor. You can add new lists and new list items.<br />
            <a href="/weather">rain adder</a>: you can add weather above you on the map. Newer weather overwrites older.<br />
            <a href="/santa">anonymous santa:</a> anonymous santa editor.<br />
            <a href="/flats">Flat price calculator:</a> tells you the price of some kiev flat using pre-entered data - primitive AI inside.<br />
            <a href="/blow">Blow:</a> simple D3.js demo. click on the scene and see the blow!
        </div>
    </div>

</body>
</html>